<!-- ✅создали новый шаблон, в котором мы будем выводить новости по-отдельности-->
<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!--загружаем теги и фильтры-->
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Search
{% endblock title %}

{% block content %}
<br>
    <!--{# ✅Добавляем форму, объединяющую набор полей, которые будут отправляться в запросе #}-->
    <form action="" method="get">
    <!--{# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}-->
        {{ filterset.form.as_p }}
    <!--{# Добавим кнопку отправки данных формы #}-->
        <input type="submit" value="Поискать" />
    {% if news %}
    <br>
    <hr>
        <table>
            <tr>
                <td><h4>Размещена</h4></td>
                <td><h4>Заголовок</h4></td>
                <td><h4>Текст</h4></td>
                <td><h4>Автор</h4></td>
                <td><h4>Категория</h4></td>
            </tr>
            {% for n in news %}
            <tr>
                <!-- ✅тег-->
                <td><p>{{ n.pub_date|date:'d M Y' }}<br /><br /></p></td>
<!--            отцензурированный заголовок-->
                <td><p>{{ n.heading|b_dictionary }}<br /><br /></p></td>
<!--            ⚠️задание ы модуле расходится, поэтому не |truncatechars:20, так красивее и информативнее-->
<!--            отцензурированный текст-->
                <td><p>{{ n.text|b_dictionary|truncatewords:10 }}<br /><br /></p></td>
                <td><p>{{ n.author|truncatechars:20 }}<br /><br /></p></td>
                <td><p>{{ n.category.name }}<br /><br /></p></td>
            </tr>
            {% endfor %}
        </table>
    <hr>
    {% else %}
<!--        если всё везде хорошо, то наконец-то-->
        <h2>Сегодня без думскроллинга 🤖</h2>
    {% endif %}
{% endblock content %}